<h1 class="center">ngSwitch</h1>
<br>
<table >
  <thead>
    <tr class="center">
     <td>S.NO</td>
     <td>ID</td>
     <td>NAME</td>
     <td>ROLE</td>
     <td>SALARY</td>
     <td>NET SALARY</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees let i = index" class="center" >
      <td>{{i+1}}</td>
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.role}}</td>
      <td>{{employee.salary}}</td>
      <td>{{newSalary(employee)}}</td>
    </tr>
  </tbody>
</table>
